extends layouts/main


block title
    - var {applicant, applications} = locals
    | #{applicant.name}


block head
    link(rel='stylesheet' href='/css/table.min.css')


block content
    div.card
        h1= applicant.name

    table.card-table
        thead
            th Спеціальність
            th Бал
            th Позиція
            th Реальна позиція
            th(title="Ліцензійний обсяг") ЛО
            th(title="Державне замовлення") ДЗ
            th Оригінали
        tbody
            each application in applications
                - var spec = application.spec
                tr
                    td
                        small= spec.specialty
                        br
                        strong
                            a(href=spec.url)= spec.name
                        br
                        small #{spec.level}, #{spec.form}
                    td= application.score
                    td= application.pos
                    td= application.actualPos
                    td= spec.lo
                    td= spec.dz
                    td
                        if application.doc
                            | +
                        else
                            | -


block scripts

