extends layouts/main


block title
    - var {univ, faculty, specs} = locals
    | #{faculty.name}


block head
    link(rel='stylesheet' href='/css/table.min.css')


block content
    div.card
        h1= faculty.name
        h3
            a(href=univ.url)= univ.name
        div#info
            a(href=faculty.oUrl) Оригінальна сторінка факультету

    table.card-table
        thead
            th Спеціальності
            th(title="Ліцезійний обсяг") ЛО
            th(title="Державне замовлення") ДЗ
            th Дата останнього оновлення
        tbody
            each spec in specs
                tr
                    td
                        small= spec.specialty
                        br
                        strong
                            a(href=spec.url)= spec.name
                        br
                        small #{spec.level}, #{spec.form}

                    td= spec.lo
                    td= spec.dz
                    td= spec.lastUpdate



block scripts
