extends layouts/main


block title
    - var {univ, faculty, spec, applications} = locals
    | #{spec.name}


block head
    link(rel='stylesheet' href='/css/table.min.css')


block content
    div.card
        h1= spec.name
        h3
            a(href=univ.url)= univ.name
        h3
            a(href=faculty.url)=  faculty.name

        div#info
            p Спеціалізація: #{spec.specialty}
            p Форма: #{spec.form}
            p Рівень: #{spec.level}
            p Ліцезійний обсяг: #{spec.lo}
            p Державне замовлення: #{spec.dz}
            p Дата отсаннього оновлення: #{spec.lastUpdate}
            p
                a(href=spec.oUrl) Оригінальна сторінка спеціальності

    table.card-table
        thead
            th Ім'я
            th Бал
            th Позиція
            th Реальна позиція
            th Оригінали
        tbody
            each application in applications
                - var applicant = application.applicant
                tr
                    td
                        a(href=applicant.url)= applicant.name
                    td= application.score
                    td= application.pos
                    td= application.actualPos
                    td
                        if application.doc
                            | +
                        else
                            | -


block scripts
