{{#section 'header'}}
    <link rel='stylesheet' href="{{ static '/css/api.min.css' }}" />
{{/section}}

{{#section 'footer'}}
    <script src="{{ static '/js/api.min.js'}}"></script>
{{/section}}

<div class="left card">
    <h1>API reference</h1>
    <img src="{{ static 'images/pyramid-eye.png'}}" alt="Watching you" title="Watching you">
</div>

<div class="right">
    <ul class="endpoints">
        {{# each endpoints}}
            <li class="card">
                <div class="title">
                    <span class="verb {{ verb }}">{{ verb }}</span>
                    {{ url }}
                </div>
                <div class="body">{{{ docstring }}}</div>
                <br>
            </li>
        {{/each}}
    </ul>
</div>
