<h1>API reference</h1>

<ul class="endpoints">
    {{# each endpoints}}
        <li>
            <div class="title">
                <div class="verb {{ verb }}">
                    {{ verb }}
                </div>
                {{ url }}
            </div>
            <div class="body">{{{ docstring }}}</div>
            <strong class="endpoint {{verb}}">

            </strong>
            <br>

        </li>
    {{/each}}
</ul>